/* =========================
   HEADER
========================= */

.site-header {
  margin: 25px auto 0;
}

/* Indhold oven på SVG */

.header-content {
  justify-content: space-between;
  padding: 0 4%;
}

/* Logo */

.logo {
  display: block;
  width: clamp(35px, 5vw, 60px);
}

/* Navigation */

.header-content nav ul {
  display: flex;
  align-items: center;
  gap: clamp(14px, 2.5vw, 28px);
  list-style: none;
}

.header-content nav li {
  position: relative;
}

.header-content nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Chillax", sans-serif;
  font-size: clamp(0.7rem, 1.3vw, 1rem);
  font-weight: 600;
  transition: color 0.2s ease;
}

.header-content nav a:hover {
  color: var(--blue-text);
}
